:root {
	--clr-pri: white;
	--clr-sec: white;
	--clr-acc: white;
	--clr-cont: white;
	--clr-state: white;
}

body {
	background-color: var(--clr-pri);
	background-image:
		linear-gradient(
			235deg,
			var(--clr-pri),
			var(--clr-sec)
		);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400%;
	background-blend-mode: hue;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	//
	animation-name: bgScrolling;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 36s;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
	transition-property:
		background-color;
}

.zeekode {
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.wm-window {
		border-radius: 1em;

		&.console {

			.wm-window-box {

				.wm-window-title {

					.wm-close {
						display: none;
					}
				}
			}

		}

		&.active {

			.wm-content {

				span {
					&:first-of-type {
						&:before {
							content: 'type here > '
						}
					}
				}
			}
		}

		.wm-window-box {

			.wm-window-title {
				background-color: var(--clr-sec);
				//
				transition-duration: 250ms;
				transition-timing-function: ease-in-out;
				transition-property:
					background-color;

				button {
					&.wm-close {
						background: none;
						border-radius: 9999px;
						background-color: red;
						display: block;
						margin-right: 0.25em;
					}
				}
			}
		}

	}
}

.Terminal {
	overflow-y: scroll;
	bottom: 0;
	position: relative;
}

#background-image {
	position: absolute;
	display: block;
	bottom: 0;
	left: 15vw;
	transform: translate(-50%, 50%) rotate(15deg);
}

canvas#matrix {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	//
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 1000ms;
}

#fps {
	display: none;
	// display: block;
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 200px;
	// height: 200px;

	> div {

		> div {
			// color: rgba(0,0,0,0) !important;
			text-shadow: none;
		}
	}
}

.page-title {
	width: 100%;
	text-align: center;
	font-size: 3em;
}

.textTyped {
	display: block;

	& + & {
		margin-top: 1em;
	}
}
